@charset "utf-8";
/* CSS Document */


/* header */

html  {font-size: 20px;}

body {
	font-size: 1em;
	line-height: 1.25em;
	color: #4d4d4d;
	font-weight: 400;
	font-family: 'Arial', sans-serif, 'Baskerville';
	margin: 0;
	padding: 0;
}

header {
	padding: 1rem;
	margin-bottom: 1.25rem;
}

h1 {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	align-content: center;
}

nav {
    display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: center;
	color: black;
}
.navbar-brand {
	display: block;
	overflow: hidden;
	text-indent: -999999px;
	height: 2rem;
	max-width: 50%;
	flex: 0 0 calc(100% - 3rem);
	background: url("../img/candwlogo.jpg") no-repeat 0 0/contain transparent;
}
.navbar-toggler {
	background-color: #800022;
	color: white;
	border: 0 none;
	height: 1.5rem;
	width: 1.5rem;
	display: inline-flex;
	flex-flow: row wrap;
	align-items: center;
	align-content: center;
	justify-content: center;
}
.navbar-toggler i {
	color: white;
	font-size: 1.25rem;
}
.navbar, .dropdown>ul {
	display: none;
	flex: 0 0 100%;
}
.navbar.open, .dropdown.open>ul {
	display: block;
}
.navbar, .navbar .dropdown>ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.navbar a {
	display: block;
	overflow: hidden;
	padding: 0.5rem 0.75rem;
	text-decoration: none;
	color: black;
}
.navbar .dropdown>ul {
	background-color: #800022;
}
.navbar .dropdown>ul a {
	color: white;
}
.navbar .dropdown>ul a:hover {
	background-color: grey;
}
.navbar .dropdown>a:after {
	content: "\f0d8";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	position: absolute;
	right: 0;
}
.navbar .dropdown>a:after {
	content: "\f0d7";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	position: absolute;
	right: 0;
}
footer {
	list-style-type: none;
	text-decoration: none;
	justify-content: center;
}
li {
	list-style-type: none;
}

@media screen and (min-width: 992px) {
	.navbar-brand {
		max-width: 10rem;
		flex: 00 10rem;
	}
	.navbar-toggler {
		display: none;
	}
	.navbar.open, .navbar {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
		flex-basis: auto;
	}
	.dropdown>ul {
		position: absolute;
		width: 200px;
	}
	
}
	

/* end header*/




/* footer*/
.footer {color: black;
	     background-color: #800022;
         display: flex;
	     flex-direction: row wrap;
	     justify-content: space-evenly;
         align-items: stretch;
         align-content: flex-start;
	     padding-top: 10px;
	     width: 100%;
         font-size: 20px;}

.footer .footer-contact-information {
	     display: flex;
	     flex-flow: column;
	     justify-content: flex-start;
	     align-content: flex-start;
	           
	              }
.footer .footer-store-and-copyright-info {
	 display: flex;
	 flex-flow: column wrap;
	 justify-content: flex-start;
	 align-items: center;
	 align-content: flex-start;
	
	
}

.footer .footer.contact.information {
	  display: flex;
	  justify-content: flex-end;
	  align-items: flex-start;
}

.footer .footer-social-media-icons {
	        display: flex;
	       flex-flow: row;
	       justify-content: space-between;
	       align-items: flex-end;
	       align-content: flex-end;
	       
}	       


	                 
@media screen and (max-width: 768px){ 
	.footer{
		font-size: 8px;
	}
	
	.footer .footer-contact-information {
		  display: flex;
		  flex-flow: column wrap;
		  justify-content: flex-start;
		  align-items: flex-start;
		  align-content: flex-start;
		  padding: 10px;
	}
	.footer .footer-store-and-copyright-info
	{   display: flex;
		flex-flow: column;
		justify-content: flex-start;
	    align-items: center;
	    align-content: flex-start;
	    padding: 10px;}

.footer .footer-store-location {
	      display: flex;
	      flex-flow: column wrap;
	      justify-content: flex-start;
	      align-items: center;
	      align-content: flex-start;
}

   .footer .footer-social-media-icons
    {     display: flex;
		  flex-flow: row;
		  justify-content: flex-end;
		  align-items: flex-start;
		  align-content: flex-end;
          padding: 10px;

	  
}
	
	html {font-size: 10px;}
}
	
@media screen and (max-width: 1080px){
	.footer {
		font-size: 12px;
	}
	.footer .footer-contact-information {
		  display: flex;
		  flex-flow: column wrap;
		  justify-content: flex-start;
		  align-items: flex-start;
		  align-content: flex-start;
		  padding: 10px;
	}
	.footer .footer-store-and-copyright-info
	{   display: flex;
		flex-flow: column;
		justify-content: flex-start;
	    align-items: center;
	    align-content: flex-start;
	    padding: 10px;}

   .footer .footer-social-media-icons
    {     display: flex;
		  flex-flow: row;
		  justify-content: flex-end;
		  align-items: flex-start;
		  align-content: flex-end;
          padding: 10px;
}
	html {font-size: 15px;}
}

/* end footer*/



/*two-column-layout*/

.two-column-layout {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: stretch;
	;
	align-centent: flex-start;
}

.column-text {
	 border: 3px solid #ccc;
	 padding: 10px;
	 margin-bottom: 10px;
}

.two-column-layout .column {
	flex: 0 0 calc(50% - 2rem);
	-webkit-flex: 0 0 calc(50% - 2rem);
        
}
@media screen and (max-width: 768px) {
	.two-column-layout {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		align-content: center;
		max-width: 100%;
		padding-left: 1rem;
		padding-right: 1rem;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1.25rem;
	}
	.two-column-layout .column {
		flex: 0 0 calc(30% - 1rem);
		-webkit-flex: 0 0 calc(30% - 1rem);
	}
	.store-image { height: 100px;
	               width: 170px;}
}
@media screen and (max-width: 1080px) {
	.two-column-layout {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		align-content: center;
		max-width: 100%;
		padding-left: 1rem;
		padding-right: 1rem;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1.25rem;
	}
	.two-column-layout .column {
		flex: 0 0 30%;
		-webkit-flex: 0 0 calc(30% - 1rem);
	}
	
	.store-image {
		 height: 150px;
	     width: 220px}
}

/* end of two-column-layout*/

/* Email Content */

.email-sign-up {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
}

/* End of Email Content*/



/* Grid System */
.container-fluid,
.container { 
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.25rem;
    background-color: white;
}

/* 576xp | 768px | 992px | 1200px */
@media screen and (min-width: 576px) { .container { max-width: 576px; /*background-color: yellow;*/ } } /* added color to show responsive size change */
@media screen and (min-width: 768px) { .container { max-width: 768px; /*background-color: aqua;*/ } }
@media screen and (min-width: 992px) { .container { max-width: 992px; /*background-color: green;*/ } }
@media screen and (min-width: 1200px) { .container { max-width: 1200px; /*background-color: pink;*/ } }

.row {
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex; /* changes css to flexbox with "display: flex;" */
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

[class^='col-'] { /* adjusting lorum ipsum text at bottom of page */
    width: 100%;
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
}

.col-xs-1 {
    flex: 0 0 calc((100% / 12) * 1); /* "calc" allows you to do basic arithmatic */
    max-width: calc((100% / 12) * 1);
}

.col-xs-2 {
    flex: 0 0 calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
}

.col-xs-3 {
    flex: 0 0 calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
}

.col-xs-4 {
    flex: 0 0 calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
}

.col-xs-5 {
    flex: 0 0 calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
}

.col-xs-6 {
    flex: 0 0 calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
}

.col-xs-7 {
    flex: 0 0 calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
}

.col-xs-8 {
    flex: 0 0 calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
}

.col-xs-9 {
    flex: 0 0 calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
}

.col-xs-10 {
    flex: 0 0 calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
}

.col-xs-11 {
    flex: 0 0 calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
}

.col-xs-12 {
    flex: 0 0 calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
}

/* 576xp | 768px | 992px | 1200px */
@media screen and (min-width: 576px) {
    .col-sm-1 {
        flex: 0 0 calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
    }
    
    .col-sm-2 {
        flex: 0 0 calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }
    
    .col-sm-3 {
        flex: 0 0 calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }
    
    .col-sm-4 {
        flex: 0 0 calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }
    
    .col-sm-5 {
        flex: 0 0 calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
    }
    
    .col-sm-6 {
        flex: 0 0 calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }
    
    .col-sm-7 {
        flex: 0 0 calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
    }
    
    .col-sm-8 {
        flex: 0 0 calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
    }
    
    .col-sm-9 {
        flex: 0 0 calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
    }
    
    .col-sm-10 {
        flex: 0 0 calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
    }
    
    .col-sm-11 {
        flex: 0 0 calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
    }
    
    .col-sm-12 {
        flex: 0 0 calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
    }
    
}

@media screen and (min-width: 768px) {
    .col-md-1 {
        flex: 0 0 calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
    }
    
    .col-md-2 {
        flex: 0 0 calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }
    
    .col-md-3 {
        flex: 0 0 calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }
    
    .col-md-4 {
        flex: 0 0 calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }
    
    .col-md-5 {
        flex: 0 0 calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
    }
    
    .col-md-6 {
        flex: 0 0 calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }
    
    .col-md-7 {
        flex: 0 0 calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
    }
    
    .col-md-8 {
        flex: 0 0 calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
    }
    
    .col-md-9 {
        flex: 0 0 calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
    }
    
    .col-md-10 {
        flex: 0 0 calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
    }
    
    .col-md-11 {
        flex: 0 0 calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
    }
    
    .col-md-12 {
        flex: 0 0 calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
    }

}

@media screen and (min-width: 992px) {
    .col-lg-1 {
        flex: 0 0 calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
    }
    
    .col-lg-2 {
        flex: 0 0 calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }
    
    .col-lg-3 {
        flex: 0 0 calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }
    
    .col-lg-4 {
        flex: 0 0 calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }
    
    .col-lg-5 {
        flex: 0 0 calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
    }
    
    .col-lg-6 {
        flex: 0 0 calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }
    
    .col-lg-7 {
        flex: 0 0 calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
    }
    
    .col-lg-8 {
        flex: 0 0 calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
    }
    
    .col-lg-9 {
        flex: 0 0 calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
    }
    
    .col-lg-10 {
        flex: 0 0 calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
    }
    
    .col-lg-11 {
        flex: 0 0 calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
    }
    
    .col-lg-12 {
        flex: 0 0 calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
    }

}

@media screen and (min-width: 1200px) {
    .col-xl-1 {
        flex: 0 0 calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
    }
        
    .col-xl-2 {
        flex: 0 0 calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }
        
    .col-xl-3 {
        flex: 0 0 calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }
        
    .col-xl-4 {
        flex: 0 0 calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }
        
    .col-xl-5 {
        flex: 0 0 calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
    }
        
    .col-xl-6 {
        flex: 0 0 calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }
        
    .col-xl-7 {
        flex: 0 0 calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
    }
        
    .col-xl-8 {
        flex: 0 0 calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
    }
        
    .col-xl-9 {
        flex: 0 0 calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
    }
        
    .col-xl-10 {
        flex: 0 0 calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
    }
        
    .col-xl-11 {
        flex: 0 0 calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
    }
        
    .col-xl-12 {
        flex: 0 0 calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
    }

}

/* End Grid System */

/* Article Component */
.article-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: flex-start;
}
    .article-wrapper .article {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: flex-start;
        padding: 1.25rem;
        border: 1px solid #ccc;
        
        flex: 0 0 30%;
    }

        .article-wrapper .article img { 
            border: 1.25rem solid #fafafa;
        }

/* End of Article Component */